<h1>Pytania</h1>
<%= link_to "Dodaj pytanie", new_question_path, class: "btn btn-primary" %>
<% @questions.each do |question| %>
  <div class="card my-2" style="">
    <div class="card-body">
      <h5 class="card-title"><%= question.title %></h5>
      <p class="card-text"><%= question.body %></p>
      <%= link_to "Przejdż do strony pytania", question_path(question), class: "btn btn-success" %>
    </div>
  </div>
<% end %>
